@import 'Colors.scss';

.Dish {
  width: 100%;
  margin: 20px auto;
  border: 2px solid $main-green;
  border-radius: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  &__preview {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__info-container {
    display: flex;
  }
  &__image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px dashed $main-green;
    &_disabled {
      display: none;
    }
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
  &__image-placeholder {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px dashed $main-green;
    background: url("../icons/salad.svg") no-repeat center;
    background-size: 70px 70px;
    padding: 10px;
    &_disabled {
      display: none;
    }
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
  &__info {
    display: block;
    margin: 0 10px 0 20px;
  }
  &__name {
    color: $main-green;
    font-family: 'Kalam', cursive;
    font-size: 25px;
    margin: 0px;
  }
  &__description {
    margin: 5px 10px;
    font-size: 19px
  }
  &__icons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  &__delete {
    width: 40px;
    height: 40px;
    background: url("../icons/delete.svg") no-repeat center;
    background-size: 40px 40px;
  }
  &__edit {
    width: 40px;
    height: 40px;
    background: url("../icons/edit.svg") no-repeat center;
    background-size: 40px 40px;
    margin-bottom: 15px;
  }
}
