@import 'Colors.scss';

.RecipeForm {
  width: 30%;
  border: 2px solid $main-green;
  border-radius: 20px;
  padding: 10px 30px 50px 20px;
  margin: 60px auto;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: $main-green;
  @media screen and (max-width: 950px) {
    width: 75%;
  }
  &__header {
    font-family: 'Kalam', cursive;
    font-size: 25px;
    text-align: center;
    margin: 0;
  }
  &__form {
    text-align: left;
  }
  &__input {
    width: 100%;
    display: block;
    border-radius: 5px;
    border: 1px dashed $main-green;
    padding: 5px;
    color: $main-grey;
    font-size: 16px;
  }
  &__label {
    font-weight: bold;
    font-size: 19px;
  }
  &__button {
    background-color: $main-green;
    font-size: 17px;
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    border: 1px dashed #fff;
    &_cancel {
      background-color: $main-grey
    }
  }
}
